html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: $font-family-base;
}

hr {
    border-color: #ffffff;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
}

h1,
h2 {
    font-size: 45px;
}
h3 {
    font-size: 35px;
}


p {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section, aside {
    padding: 50px 0;
}
.no-padding {
    padding: 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}
