.bg-pricing {
	background-color: #000000;
	color: #ffffff;
	.btn {
		background-color: #72aabb;
		color: #000000;
	}
	p {
		font-size: 35px;
	}
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}
